@import '../../styles/variables';

.form-buttons {
  float: right;
}

.submit-btn {
  background-color: $dark-blue;
  border-color: $dark-blue-border;
  color: $white;
  margin-left: 5px;

  &:hover,
  &:focus {
    background-color: darken($dark-blue, 10);
    border-color: darken($dark-blue-border, 10);
  }
}
