@import '../../styles/variables';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

.legend {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

  td {
    text-align: center;
    height: 30px;
    width: 80px;
  }
}

.cell {
  border: 2px solid;
}

.paid {
  background-color: $green;
  border-color: darken($green, 15);
  color: $white;
}

.taken {
  background-color: $dark-blue;
  border-color: $dark-blue-border;
  color: $white;
}

.available {
  background-color: $light-blue;
  border-color: darken($light-blue-border, 15);
  color: $white;
}

.experiment-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.experiment {
  display: flex;
  margin-bottom: 1rem;
}

.experiment-info {
  padding: 10px 15px 10px 10px;

  h3 {
    margin: 0;
  }

  h5 {
    font-style: italic;
    margin-top: 0;
  }

  p {
    line-height: 1.2;
  }

  @include media-breakpoint-up(xl) {
    p {
      width: 300px;
    }
  }
}
