@import 'variables';

.total-wrapper {
  background-color: $dark-blue;
  border: 1px solid darken($dark-blue, 5);
  border-radius: .25rem;
  color: $light-gray;
  padding: 1rem;

  hr {
    background-color: $light-gray;
  }
}

.total {
  font-weight: bold;
}

.total-prices {

}

.sub-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sub-total {
  margin-bottom: 1rem;
}

.cost-type {
}

.total-type {
  font-size: 1.2rem;
  line-height: 39px;
}

.cost {
}

.checkout-btn {
  float: right;
}
