@import 'variables';

.main-nav {
  background-color: $white;
  border: 1px solid transparent;
  border-bottom-color: $dark-gray;
  margin-bottom: 2rem;
  min-height: $nav-height;
  padding-bottom: ($nav-height - 20) / 2;
  padding-top: ($nav-height - 20) / 2;
}

.logout-btn {
  cursor: pointer;
}
