$white: #fff;
$overlay-black: rgba(0, 0, 0, .5);
$dark-brand: rgba(0, 0, 0, .8);
$dark-blue: #337ab7;
$dark-blue-border: #2e6da4;
$medium-blue: #31b0d5;
$medium-blue-border: #269abc;
$light-blue: #5bc0de;
$light-blue-border: #46b8da;
$teal: #1b6d85;
$light-gray: #f5f5f5;
$dark-gray: #ddd;
$orange: #e53d00;
$red: #f8333c;
$green: #44af69;

$nav-height: 60px;
$footer-height: 120px;
