$white: #fff;
$dark-blue: #337ab7;
$dark-blue-border: #2e6da4;
$medium-blue: #31b0d5;
$medium-blue-border: #269abc;
$light-blue: #5bc0de;
$light-blue-border: #46b8da;
$teal: #1b6d85;
$light-gray: #f5f5f5;
$dark-gray: #ddd;

$nav-height: 80px;
$footer-height: 120px;
