@import 'variables';
@import 'vendor/normalize';

html {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: inherit;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

footer {
  background-color: $light-gray;
  margin-top: 40px;
  height: $footer-height - 40px;
  // margin-top: 40px;
  position: relative;
  width: 100%;
}
