@import 'variables';

.cart-item {
  background-color: $white;
  border: 1px solid $dark-gray;
  border-radius: .25rem;
  margin-bottom: .1rem;
  padding: 1rem;
}

.quantity {
  p {
    cursor: pointer;
    font-size: .9rem;
    margin-bottom: .25rem;
  }
}

.quantity-input {
  margin-bottom: .25rem;
  text-align: center;
  width: 30px;
}

.quantity-btn {
  height: 30px;
  margin: 0 0 3px 9px;
  padding: 0 10px;
}
