@import 'variables';

.cart-item {
  background-color: $white;
  border: 1px solid $dark-gray;
  border-radius: .25rem;
  margin-bottom: .1rem;
  padding: 1rem;
}

.quantity-input {
  text-align: right;
  width: 30px;
}

.quantity-btn {
  height: 30px;
  margin: 0 10px 3px;
  padding: 0;
}
