@import 'variables';

%checkout-btn {
  background-color: $orange;
  color: $white;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    background-color: darken($orange, 5);
    color: $white;
  }
}

.checkout-btn {
  @extend %checkout-btn;
}
