.experiment {
}

.board-outer {
  height: 440px;
  width: 400px;
}

.board {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

%cell {
  border: 1px solid #fff;
}

.single-dose-cell {
  @extend %cell;
  height: percentage(1/20);
  width: percentage(1/18);
}

.dose-response-cell {
  @extend %cell;
  height: percentage(1/8);
  width: percentage(1/7);
}

.taken {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.available {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;

  &:active {
    background-image: none;
    background-color: #31b0d5;
    border-color: #269abc;
  }

  &:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
  }

  &:focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #1b6d85;
  }
}
