@import '../../styles/variables';

.board {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

%cell {
  border: 1px solid $white;
}

.single-dose-cell {
  @extend %cell;
  height: percentage(1/20);
  width: percentage(1/18);
}

.dose-response-cell {
  @extend %cell;
  height: percentage(1/8);
  width: percentage(1/7);
}

.paid {
  background-color: $green;
  border-color: darken($green, 15);
  color: $white;
}

.taken {
  background-color: $dark-blue;
  border-color: $dark-blue-border;
  color: $white;
}

.available {
  background-color: $light-blue;
  border-color: $light-blue-border;
  color: $white;
}
